<form [formGroup]="brandForm">
  <div class="brand-form">
    <div class="brand-form__title">
      <h4>{{ formTittle }}</h4>
    </div>

    <app-divisor></app-divisor>

    <div class="brand-form__input-section">
      <app-label [label]="fieldNameName"></app-label>
      <app-input
        placeholder="{{ fieldNameName }}"
        formControlName="{{ formControlNameName }}"
        [state]="
          brandForm.get(formControlNameName)?.invalid &&
          brandForm.get(formControlNameName)?.touched
            ? stateError
            : stateDefault
        "
        [errorMessage]="getErrorMessage(formControlNameName)"
      ></app-input>

      <app-label [label]="fieldNameDescription"></app-label>
      <app-input
        placeholder="{{ fieldNameDescription }}"
        formControlName="{{ formControlNameDescription }}"
        [state]="stateDefault"
        [isTextarea]="true"
        [state]="
          brandForm.get(formControlNameDescription)?.invalid &&
          brandForm.get(formControlNameDescription)?.touched
            ? stateError
            : stateDefault
        "
        [errorMessage]="getErrorMessage(formControlNameDescription)"
      ></app-input>
    </div>

    <div class="brand-form__button-section">
      <app-button
        [label]="buttonLabelText"
        (buttonClick)="onSubmit()"
        [disabled]="!brandForm.valid"
      ></app-button>
    </div>
    <app-loader></app-loader>
  </div>
</form>
