@import "/src/styles/colors";
.input-container {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;

  &__select {
    padding: 10px;
    border: 1px solid $gray-scale-spacer-light;
    border-radius: 4px;
    width: 100%;
    color: $gray-scale-black;
    padding: 0.5rem;
    margin-left: 1rem;
    color: red;

   
    &:focus {
      color: $gray-scale-black;
      border-color: $primary-color;
      outline: none;
    }

  }
}
