@import '/src/styles/colors';
@import '/src/styles/variables';


.header{
    width: 100%;
    height: auto;
    background-color: $primary-color;
    color: $white;

}

@media (min-width: 768px){

    .header{
        &__content{
            padding-right: $horizontal-padding;
            padding-left: $horizontal-padding;
        }
    }

}