@import "/src/styles/colors";
@import "/src/styles/variables";

.header {
  box-sizing: border-box;
  width: 100%;
  background-color: $primary-color;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  &__logo {
    padding-left: $horizontal-padding;
  }

  &__svg {
    font-size: 2rem;
    padding: 1rem;
  }
  &__a {
    cursor: pointer;
    font-size: 1.2rem;
  }
  &__button {
    cursor: pointer;
    display: none;

    &--disable{
      display: none;
    }
  }
  &__nav {
    padding-right: $horizontal-padding;
  }

  &__icon {
    font-size: 1.4rem;
  }
  &__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
  }
  &__li {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
   
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: center;
    margin: 0 0.5rem;
    &--active{
      background-color: $hover-color;
      box-shadow: -3px 0 0 0 white;
    }
    &:hover {
      background-color: $hover-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__button {
      display: flex;
    }

    &__menu{
      &--active{
        display: none;
      }
    }

    &__logo {
      padding: 0;
    }
    &__nav {
      padding: 0;
      height: 0vh;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      pointer-events: none;
      transition: all 0.5s ease;
      background-color: #841dd3;

      &--active {
        height: 30vh;
        pointer-events: auto;
      }
    }

    &__ul {
      display: block;
      width: 100%;
      padding: 1rem;
      flex-direction: column;
    }

    &__li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5rem 0;
      &--active{
        background-color: $hover-color;
        box-shadow: -3px 0 0 0 white;
      }
    }
  }
}
