<app-table-tool-bar [showByoptions]="showByoptions" [sortByoptions]="sortByoptions"></app-table-tool-bar>
<table class="data-table">
  <thead class="data-table__header">
    <tr>
      <th *ngFor="let header of headers" class="data-table__header-cell">
        {{ header.displayName }}
      </th>
    </tr>
  </thead>
  <tbody class="data-table__body">
    <tr *ngFor="let row of data" class="data-table__body__row">
      <td *ngFor="let header of headers" class="data-table__body__cell">
        {{ row[header.key] }}
      </td>
    </tr>
  </tbody>
</table>
