
@import '/src/styles/colors';

.input-container {
    width: 100%;
    height: auto;

    input, textarea {
        padding: 10px;
        border: 1px solid $gray-scale-spacer-light;
        border-radius: 4px;
        width: 95%;
        color: $gray-scale-black;

        &:focus{
            color: $gray-scale-black;
            border-color: $primary-color; 
            outline: none; 
        }
    
    }
  
    &--error input, &--error textarea {
            border-color: $informing-error;      
    }

    .input-container__error-message {
        color: $informing-error; 
        font-size: 1.2rem; 
    }

   
}