<div class="list-data-container">
  <section class="list-data-container__header">
    <h4>{{ tableTittleLabel }}</h4>
    <app-button
      [label]="buttonLabelAddCategory"
      (buttonClick)="navigateToCreateCategory()"
    ></app-button>
  </section>

  <app-table-tool-bar [showByoptions]="showByOptions" [sortByoptions]="sortByOptions"></app-table-tool-bar>
  <section class="list-data-container__data">
    <app-data-table
      [data]="categories"
      [headers]="headers"
    ></app-data-table>
    <app-loader></app-loader>
  </section>

  <section class="list-data-container__pagination">
    <app-pagination
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </section>
</div>
