
$primary-color: #9D3FE7;
$hover-color: #AE60EB;
$active-color: #6A17AB;


$white: #FFFFFF;
$border-hover-color: #5a6268;
$disabled-color: #D4D2D5;
$text-color-disabled: #a0a0a0;

$gray-scale-border: #ABA7AF;
$gray-scale-black: #1A141F;
$gray-scale-spacer-light: #E5E0EB;
$gray-scale-spacer: #F5F5F7;

$informing-error: #D51A52;
$informing-approval: #00B998;
$informing-warning: #FF9500;