@import '/src/styles/colors';
.input-container {
    width: 100%;
    height: auto;
    
  
    &__select {
      padding: 1rem;
      border: none;
      color: $primary-color;
      padding: 0.5rem;
      margin-left: 1rem;
     
      &:focus {
        color: $primary-color;
        border-color: $primary-color;
        outline: none;
      }
  
    }

  }
select, option{
  color: $primary-color;

}