<nav class="pagination">
  <app-button
    
    [type]="buttonTypeSeCundary"
    [label]="buttonLabelPrev"
    [disabled]="currentPage === 1"
    (buttonClick)="prevPage()"
  ></app-button>

  <button
    class="pagination__button"
    *ngFor="let page of pages"
    [class.pagination__button--active]="currentPage === page"
    (click)="changePage(page)"
  >
    {{ page }}
  </button>

  <app-button
   
    [label]="buttonLabelNext"
    [type]="buttonTypeSeCundary"
    (buttonClick)="nextPage()"
    [disabled]="currentPage === totalPages"
  ></app-button>
</nav>
