<form [formGroup]="categoryForm">
  <div class="category-form">
    <div class="category-form__title">
      <h4>{{ formTittle }}</h4>
    </div>

    <app-divisor></app-divisor>

    <div class="category-form__input-section">
      <app-label [label]="fieldNameName"></app-label>
      <app-input
        placeholder="{{ fieldNameName }}"
        formControlName="{{ formControlNameName }}"
        [state]="
          categoryForm.get(formControlNameName)?.invalid &&
          categoryForm.get(formControlNameName)?.touched
            ? inputStateError
            : inputStateDefault
        "
        [errorMessage]="getErrorMessage(formControlNameName)"
      ></app-input>

      <app-label [label]="fieldNameDescription"></app-label>
      <app-input
        placeholder="{{ fieldNameDescription }}"
        formControlName="{{ formControlDescriptionName }}"
        [state]="inputStateDefault"
        [isTextarea]="true"
        [state]="
          categoryForm.get(formControlDescriptionName)?.invalid &&
          categoryForm.get(formControlDescriptionName)?.touched
            ? inputStateError
            : inputStateDefault
        "
        [errorMessage]="getErrorMessage(formControlDescriptionName)"
      ></app-input>
    </div>

    <div class="category-form__button-section">
      <app-button
        [label]="buttonLabelText"
        (buttonClick)="onSubmit()"
        [disabled]="!categoryForm.valid"
      ></app-button>
    </div>
    <app-loader></app-loader>
  </div>
</form>
