<div class="input-container input-container--{{ state }}">
  <ng-container *ngIf="isTextarea; else inputTemplate">
    <textarea
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [required]="required"
      [ngClass]="inputClass"
      (input)="onInput($event)"
    ></textarea>
  </ng-container>
  <ng-template #inputTemplate>
    <input
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [required]="required"
      [ngClass]="inputClass"
      (input)="onInput($event)"
    />
  </ng-template>
  <div
    *ngIf="state === inputSatateError"
    class="input-container__error-message"
  >
    {{ errorMessage }}
  </div>
</div>
