.table-tool-bar{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    &__show-by{
        display: flex;
        align-items: baseline;
    }
    &__sort-by{
        display: flex;
        align-items: baseline;
    }

}

@media (min-width: 768px){
    .table-tool-bar{
        flex-direction: row;
        justify-content: space-between;
    }
}

    