.table-tool-bar{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

  
    &__field{
        display: flex;
        align-items: baseline;
    }
    &__field-brand{
        display: flex;
        align-items: baseline;
    }
    &__field-category{
        display: flex;
        align-items: baseline;
    }

}

@media (min-width: 768px){
    .table-tool-bar{
        flex-direction: row;
        justify-content: space-between;
        &__field-brand{
            display: block;
        }
        &__field-category{
            display: block;
        }
    }
    
}

    