@import "/src/styles/colors";
@import "/src/styles/variables";

$nav-bar-width: 20rem;
$content-padding: 2rem;
$mobile-padding: 1rem;

.layout-container {
  height: 100vh;
  

  &__body {
    display: flex;
    flex-direction: column;
  }
  &__nav-bar {
    width: 100%;
  }

  &__content {
    display: block;
    padding: $mobile-padding;
  }
}

@media (min-width: 768px) {
  .layout-container {
    flex-direction: row;

   
    &__body {
    
      flex-direction: row;
      padding-left: $horizontal-padding;
      padding-right: $horizontal-padding;
    }
    &__nav-bar {
        
      width: $nav-bar-width;
    }

    &__content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $content-padding;
    }
  }
}
