@import "/src/styles/colors";
@import "/src/styles/variables";

$nav-bar-width: 20rem;
$content-padding: 2rem;
$mobile-padding: 1rem;

.layout-container {
  height: 100vh;
  

  &__body {
    display: flex;
    flex-direction: column;
  }
  &__nav-bar {
    width: 100%;
  }

  &__content {

    box-sizing: border-box;
    width: 100%;
    padding: $mobile-padding;
    

  }
}

@media (min-width: 768px) {
  .layout-container {
   
   
   
    &__body {
      
    
      flex-direction: row;
      padding-left: $horizontal-padding;
      padding-right: $horizontal-padding;
    }
    &__nav-bar {  
      width: $nav-bar-width;
    }

    &__content {
    
    
      margin: 0 auto;
      width: 60%;
      padding: $content-padding;
    }
  }
}
