@import "/src/styles/colors";

.card {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  height: auto;

  border-radius: 4px;
  box-shadow: 0 0 5px rgba($primary-color, 0.5);

  &__header {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
    
  }

  &__name p {
    font-size: 1.4rem;
    color: $primary-color;
    font-weight: 600;
    margin-bottom: 1rem;
   
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  &__body {
   
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__price p {
    color: $primary-color;
  }
  &__quantity p {
    color: $primary-color;
  }
  span {
    font-weight: 600;
  }

  &__categories{
    
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  &__tag{
    margin-bottom: 1rem;
  }

  &__brand p{
    
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    
  }


  &__supply p{

    color: $informing-error;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    hyphens: none;
    margin-bottom: 1rem;

  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 100%;
    display: flex;

    &__header {
      width: 70%;
      height: 20rem;
      align-items: center;
      justify-content: start;
      flex-direction: row;
    }

    &__name p {
      font-size: 2rem;
    }

    &__body {
      padding: 1rem;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-around;
      align-items: start;
    }

    &__price {
      display: flex;
      gap: 1rem;
    }
    &__quantity {
      display: flex;
      gap: 1rem;
    }

    &__img {
      height: 100%;
      width: 40%;
      min-width: 20rem;
      object-fit: cover;
      margin-right: 2rem;
    }
  }
}
