@import '/src/styles/_colors.scss';
.nav-bar-container{
    background-color: $white ;
    padding: 0.5rem;
    height: auto;
    width: 100%;
    align-items: center; 
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    
    
}

@media (max-width: 768px) {
    .nav-bar-container{
        width: 95%;
        display: block;
    }
}